include MSMPstream/lengboxs/*
include MSMPstream/img/*
include MSMPstream/lib/*
include MSMPstream/lib/Native/*
include MSMPstream/AppUi/*
include MSMPstream/resources/icon.png
include MSMPstream/resources/app.ico
include MSMPstream/resources/MSMPmax-icon.png
include MSMPstream/resources/MSMP-icon.png
include MSMPstream/resources/MSMP-iconBG.png
include MSMPstream/resources/MSMPappIconNew.ico
include requirements.txt
